.card {
  overflow: scroll;
  position: fixed;
  top: 0;
  scrollbar-width: none;
  left: 408px;
  width: calc(100% - 408px);
  height: 100%;
  background: #fff;
  z-index: 99;
  transition: right 0.5s ease-in-out, left 0.5s ease-in-out;
}

.cross-button-open {
  position: absolute;
  left: -200%;
}

.cross-button-closed {
  position: absolute;
  left: -200%;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    left:0%;
  }
  .cross-button-open {
    display: flex;
    position: relative;
    left: 0%;
    align-items: center;
    width: 40px;
    border-color: transparent;
    background-color: transparent;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    justify-content: center;
    color: var(--clr);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.689);
                /* 0 6px 0 #3e8e41;  */
    transition: transform 0.1s, box-shadow 0.1s;
  }
  
  .cross-button-closed {
    display: flex;
    position: relative;
    left: 0%;
    align-items: center;
    width: 40px;
    border-color: transparent;
    background-color: transparent;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    justify-content: center;
    color: var(--clr);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.689);
                /* 0 6px 0 #3e8e41; */
    transition: all 0.1s ease;
    /* transition: transform 0.1s, box-shadow 0.1s; */
  }
  
  .cross-button-open:active {
    display: flex;
    position: relative;
    left: 0%;
    align-items: center;
    width: 40px;
    border-color: transparent;
    background-color: transparent;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    justify-content: center;
    color: var(--clr);
    border: none;
    border-radius: 5px;
    transform: translateY(4px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s, box-shadow 0.1s;
  }
  .cross-button-open:hover {
    display: flex;
    position: relative;
    left: 0%;
    align-items: center;
    width: 40px;
    border-color: transparent;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    font-size: 16px;
    cursor: pointer;
    /* background-color: var(--clr); */
    justify-content: center;
    border: none;
    border-radius: 5px;
    /* color: white; */
    transition: transform 0.1s, box-shadow 0.1s; 
  }
}

.card-content {
  padding: 20px;
  color: hwb(0 20% 80%);
}

.card-content h3 {
  margin-top: 0;
  color: #00ade1;
}

body {
  font-family: Arial, sans-serif;
} 

.card-header {
  padding: 20px;
  background: #00ade1;
  color: white;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
}

.card-header h2 {
  margin: 0;
  font-size: 1.8rem;
  width: 100%;
}

.card-body {
  padding: 20px;
  /* height:800px; */
  background-color: white;
}

.card-body p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.card-content {
  margin-top: 20px;
 
}